black==22.3.0
blinker==1.6.3
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
config==0.5.1
configparser==5.3.0
Faker==18.13.0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
Flask==2.2.5
flask-api-key==0.2.12
Flask-HTTPAuth==4.8.0
Flask-JSONRPC==2.2.2
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.3
flask-swagger-ui==4.11.1
Flask-Testing==0.8.1
Flask-WTF==1.1.1
homebrew==0.2.5
json5==0.9.14
jsonpointer==2.4
jsonrpc==3.0.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
logging-tree==1.9
loguru==0.7.2
mypy==1.6.1
mypy-extensions==1.0.00
pytest==7.4.3
pytest-cov==4.1.0
pytest-mock==3.12.0
python-daemon==2.2.4
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
requests==2.31.0
requests-toolbelt==1.0.0
resp==0.1.2
typeguard==2.13.3
types-click==7.1.8
types-Flask==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-requests==2.31.0.10
types-Werkzeug==1.0.9
typing-inspect==0.8.0
typing_extensions==4.9.0
virtualenv==20.25.0